In [1]:
//Load Library
%classpath add jar libs/*

In [2]:
%%html

In [4]:
//Menginstal library dengan maven
%%classpath add mvn
tech.tablesaw tablesaw-beakerx 0.37.0
tech.tablesaw tablesaw-jsplot 0.37.0
tech.tablesaw tablesaw-plot 0.24.4

In [15]:
import tech.tablesaw.api.*;
import tech.tablesaw.io.json.*;
import static tech.tablesaw.aggregate.AggregateFunctions.*;
import tech.tablesaw.plotly.Plot;
import tech.tablesaw.plotly.api.HorizontalBarPlot;
import tech.tablesaw.plotly.api.VerticalBarPlot;
import tech.tablesaw.plotly.components.Figure;
import tech.tablesaw.plotly.components.Layout;
import tech.tablesaw.plotly.components.Marker;
import tech.tablesaw.plotly.traces.BarTrace;
import tech.tablesaw.plotly.traces.Trace;

// display Tablesaw tables with BeakerX table display widget
tech.tablesaw.beakerx.TablesawDisplayer.register();

//init objek csv
Table  fieCSV= Table.read().csv("datasets/12181610/12181610.csv");

//Menampilkan 5 baris data yang pertama dari data frame fieCSV
System.out.println(fieCSV.first(5));

//print dataset structure
System.out.println(fieCSV.structure());

//init objek JsonReader 
JsonReader reader = new JsonReader();

//membaca file 12181610.json
JsonReadOptions fileJSON = JsonReadOptions.builder("datasets/12181610/12181610.json").build();

//memasukan data fileJSON ke dataframe 
Table fieJSON = reader.read(fileJSON);

//Menampilkan 5 baris data yang pertama dari data frame fieJSON
System.out.println(fieJSON.first(5));

//print dataset structure
System.out.println(fieCSV.structure());

//menggabungkan data pada fieCSV dan fieJSON untuk disimpan di dataframe datagabung
Table datagabung = fieCSV.append(fieJSON);

//menampilkan gabungan data yang ada di dataframe datagabung
System.out.println(datagabung.first(5)); 

//menampilkan summary data yang ada di dataframe datagabung kolom "grade"
System.out.print(datagabung.summarize("nilai", mean, max, min, sum, median, count, standardDeviation, variance, range).apply());

Table summaryPendapatan =  fieCSV.summarize("nilai", sum).by("tahun");;

Table sumTotal =  fieCSV.summarize("nilai", sum).by("wilayah");

System.out.println(summaryPendapatan.print());

System.out.println(sumTotal.print());

//Ploting grafik secara vertical 
Plot.show(
        VerticalBarPlot.create(
            "nilai",
            summaryPendapatan,
            "tahun",
            Layout.BarMode.GROUP,
            "Sum [nilai]"));

//Ploting grafik secara horisontal 
  Plot.show(
        HorizontalBarPlot.create(
            "nilai",
            sumTotal,
            "wilayah",
            Layout.BarMode.STACK,
            "Sum [nilai]"));

                                                                       12181610.csv
 _id  |  idx  |             series             |  kode_wilayah  |     wilayah      |  tahun  |  triwulan  |  bulan  |  tanggal  |    nilai    |  target  |
----------------------------------------------------------------------------------------------------------------------------------------------------------
   1  |    0  |  Luas Lahan yang Dibakar (Ha)  |             1  |       Indonesia  |   2008  |            |         |           |  1857348.3  |          |
   2  |    1  |  Luas Lahan yang Dibakar (Ha)  |            11  |            ACEH  |   2008  |            |         |           |    21402.1  |          |
   3  |    2  |  Luas Lahan yang Dibakar (Ha)  |            12  |  SUMATERA UTARA  |   2008  |            |         |           |    15946.8  |          |
   4  |    3  |  Luas Lahan yang Dibakar (Ha)  |            13  |  SUMATERA BARAT  |   2008  |            |         |           |     5601.2  |          |
   5  |    4  |  Luas Lahan yang Dibakar (Ha)  |            14  |            RIAU  |   2008  |            |         |           |    13729.2  |          |
        Structure of 12181610.csv
 Index  |  Column Name   |  Column Type  |
------------------------------------------
     0  |           _id  |      INTEGER  |
     1  |           idx  |      INTEGER  |
     2  |        series  |       STRING  |
     3  |  kode_wilayah  |      INTEGER  |
     4  |       wilayah  |       STRING  |
     5  |         tahun  |      INTEGER  |
     6  |      triwulan  |       STRING  |
     7  |         bulan  |       STRING  |
     8  |       tanggal  |       STRING  |
     9  |         nilai  |       DOUBLE  |
    10  |        target  |       STRING  |
                                                                       12181610.json
 kode_wilayah  |  tahun  |             series             |  nilai  |  _id  |        wilayah         |  tanggal  |  idx  |  bulan  |  triwulan  |  target  |
------------------------------------------------------------------------------------------------------------------------------------------------------------
         2172  |   2008  |  Luas Lahan yang Dibakar (Ha)  |         |  173  |   KOTA TANJUNG PINANG  |           |  172  |         |            |          |
         3101  |   2008  |  Luas Lahan yang Dibakar (Ha)  |         |  174  |      KEPULAUAN SERIBU  |           |  173  |         |            |          |
         3171  |   2008  |  Luas Lahan yang Dibakar (Ha)  |         |  175  |  KOTA JAKARTA SELATAN  |           |  174  |         |            |          |
         3172  |   2008  |  Luas Lahan yang Dibakar (Ha)  |         |  176  |    KOTA JAKARTA TIMUR  |           |  175  |         |            |          |
         3173  |   2008  |  Luas Lahan yang Dibakar (Ha)  |         |  177  |    KOTA JAKARTA PUSAT  |           |  176  |         |            |          |
        Structure of 12181610.csv
 Index  |  Column Name   |  Column Type  |
------------------------------------------
     0  |           _id  |      INTEGER  |
     1  |           idx  |      INTEGER  |
     2  |        series  |       STRING  |
     3  |  kode_wilayah  |      INTEGER  |
     4  |       wilayah  |       STRING  |
     5  |         tahun  |      INTEGER  |
     6  |      triwulan  |       STRING  |
     7  |         bulan  |       STRING  |
     8  |       tanggal  |       STRING  |
     9  |         nilai  |       DOUBLE  |
    10  |        target  |       STRING  |
                                                                       12181610.csv
 _id  |  idx  |             series             |  kode_wilayah  |     wilayah      |  tahun  |  triwulan  |  bulan  |  tanggal  |    nilai    |  target  |
----------------------------------------------------------------------------------------------------------------------------------------------------------
   1  |    0  |  Luas Lahan yang Dibakar (Ha)  |             1  |       Indonesia  |   2008  |            |         |           |  1857348.3  |          |
   2  |    1  |  Luas Lahan yang Dibakar (Ha)  |            11  |            ACEH  |   2008  |            |         |           |    21402.1  |          |
   3  |    2  |  Luas Lahan yang Dibakar (Ha)  |            12  |  SUMATERA UTARA  |   2008  |            |         |           |    15946.8  |          |
   4  |    3  |  Luas Lahan yang Dibakar (Ha)  |            13  |  SUMATERA BARAT  |   2008  |            |         |           |     5601.2  |          |
   5  |    4  |  Luas Lahan yang Dibakar (Ha)  |            14  |            RIAU  |   2008  |            |         |           |    13729.2  |          |
                                                                             12181610.csv summary
    Mean [nilai]     |  Max [nilai]  |  Min [nilai]  |  Sum [nilai]  |  Median [nilai]  |  Count [nilai]  |  Std. Deviation [nilai]  |   Variance [nilai]   |  Range [nilai]  |
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 18025.386842105272  |    1857348.3  |          0.3  |    5479717.6  |           696.8  |            304  |        143475.317048432  |  20585166602.148083  |        1857348  |  12181610.csv summary
 tahun  |  Sum [nilai]  |
-------------------------
  2008  |    5479717.6  |
            12181610.csv summary
          wilayah           |  Sum [nilai]  |
---------------------------------------------
                 Indonesia  |    1857348.3  |
                      ACEH  |      21402.1  |
            SUMATERA UTARA  |      15946.8  |
            SUMATERA BARAT  |       5601.2  |
                      RIAU  |      13729.2  |
                     JAMBI  |      11264.7  |
          SUMATERA SELATAN  |      39692.5  |
                  BENGKULU  |       7676.7  |
                   LAMPUNG  |      56679.1  |
 KEPULAUAN BANGKA BELITUNG  |       7790.3  |
                       ...  |          ...  |
           KOTA BALIKPAPAN  |         37.6  |
            KOTA SAMARINDA  |            0  |
              KOTA TARAKAN  |         30.9  |
              KOTA BONTANG  |            0  |
         BOLAANG MONGONDOW  |       1413.2  |
                  MINAHASA  |          154  |
         KEPULAUAN SANGIHE  |        151.6  |
          KEPULAUAN TALAUD  |        370.3  |
          MINAHASA SELATAN  |        175.5  |
            MINAHASA UTARA  |       1006.3  |

null